# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.factorypath
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.bak
*~
